.cronometro {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.visual {
    border: solid 2px;
    height: 50vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #A9A9A9;
    border-radius: 30px;
    gap: 10px;
}
span, button {
    font-size: 35px;

}
button {
    background-color: #595656;
    border: none;
    border-radius: 20px;
    width: 35%;
}
button:hover {
    background-color: #2d2727;
}
.btn {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-top: 40px;
}
h2 {
    font-size: 60px
}